/* Colors and fonts */
body {
  background: #e8e2f2;
  color: #26222f;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: regular;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: extra xx-large;
}
a {
  text-decoration: none;
  color: #f51673;
  font-weight: bold;
}
a:hover {
  color: #f97cb0;
}
#logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #f51673;
}
.container {
  width: 700px;
  margin: 40px auto;
}
.card-white {
  background-color: #f9f5ff;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  border-radius: 8px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.btn-neonred {
  background-color: #f51673;
  color: #f9f5ff;
  padding: 10px 25px;
  margin: 30px auto;
  border-radius: 20px;
}
.btn-neonred :hover {
  background-color: #f9f5ff;
  color: #f51673;
  border: #f51673;
  border size: 2px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li{
  display: inline;
  padding: 10px;
  text-align: center;
}
.list-inline i{
  color: #f51673;
  font-size: 50px;
}
.list-inline i:hover{
  color: #f97cb0;
  font-size: 50px;
}
#introduction p{
  margin-bottom: 40px;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}